.elementor-734 .elementor-element.elementor-element-4e60bc6 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --overflow: hidden;
    --background-transition: 0.3s;
    --overlay-opacity: 0.5;
    --padding-top: 60px;
    --padding-bottom: 90px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-734 .elementor-element.elementor-element-4e60bc6:not(.elementor-motion-effects-element-type-background),
.elementor-734 .elementor-element.elementor-element-4e60bc6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2024/05/17.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-734 .elementor-element.elementor-element-4e60bc6::before,
.elementor-734 .elementor-element.elementor-element-4e60bc6>.elementor-background-video-container::before,
.elementor-734 .elementor-element.elementor-element-4e60bc6>.e-con-inner>.elementor-background-video-container::before,
.elementor-734 .elementor-element.elementor-element-4e60bc6>.elementor-background-slideshow::before,
.elementor-734 .elementor-element.elementor-element-4e60bc6>.e-con-inner>.elementor-background-slideshow::before,
.elementor-734 .elementor-element.elementor-element-4e60bc6>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    --background-overlay: '';
    background-color: var(--e-global-color-7e293d1);
}

.elementor-734 .elementor-element.elementor-element-4e60bc6,
.elementor-734 .elementor-element.elementor-element-4e60bc6::before {
    --border-transition: 0.3s;
}

.elementor-734 .elementor-element.elementor-element-728bd23 {
    text-align: center;
}

.elementor-734 .elementor-element.elementor-element-995b91f {
    text-align: center;
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
    font-size: var(--e-global-typography-secondary-font-size);
    font-weight: var(--e-global-typography-secondary-font-weight);
    line-height: var(--e-global-typography-secondary-line-height);
    letter-spacing: var(--e-global-typography-secondary-letter-spacing);
}

.elementor-734 .elementor-element.elementor-element-995b91f>.elementor-widget-container {
    padding: 0% 20% 0% 20%;
}

.elementor-734 .elementor-element.elementor-element-17e8ab1 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --padding-top: 120px;
    --padding-bottom: 120px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-734 .elementor-element.elementor-element-9e9626a {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 10px 10px;
    --background-transition: 0.3s;
}

.elementor-734 .elementor-element.elementor-element-416c03f {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-734 .elementor-element.elementor-element-4660033 .qodef-qi-banner .qodef-m-content {
    padding: 30px 30px 30px 30px;
}

.elementor-734 .elementor-element.elementor-element-4660033 .qodef-m-content-inner {
    background-color: var(--e-global-color-9947692);
}

.elementor-734 .elementor-element.elementor-element-4660033 .qodef-m-title {
    color: var(--e-global-color-e9c5ff0);
    margin-top: 6px;
}

.elementor-734 .elementor-element.elementor-element-4660033 .qodef-m-subtitle {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    text-transform: var(--e-global-typography-accent-text-transform);
    line-height: var(--e-global-typography-accent-line-height);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
}

.elementor-734 .elementor-element.elementor-element-5d6d36b .qodef-qi-banner .qodef-m-content {
    padding: 30px 30px 30px 30px;
}

.elementor-734 .elementor-element.elementor-element-5d6d36b .qodef-m-content-inner {
    background-color: var(--e-global-color-9947692);
}

.elementor-734 .elementor-element.elementor-element-5d6d36b .qodef-m-title {
    color: var(--e-global-color-e9c5ff0);
    margin-top: 6px;
}

.elementor-734 .elementor-element.elementor-element-5d6d36b .qodef-m-subtitle {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    text-transform: var(--e-global-typography-accent-text-transform);
    line-height: var(--e-global-typography-accent-line-height);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
}

.elementor-734 .elementor-element.elementor-element-8d70672 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-734 .elementor-element.elementor-element-ab0332f .qodef-qi-banner .qodef-m-content {
    padding: 30px 30px 30px 30px;
}

.elementor-734 .elementor-element.elementor-element-ab0332f .qodef-m-content-inner {
    background-color: var(--e-global-color-9947692);
}

.elementor-734 .elementor-element.elementor-element-ab0332f .qodef-m-title {
    color: var(--e-global-color-e9c5ff0);
    margin-top: 6px;
}

.elementor-734 .elementor-element.elementor-element-ab0332f .qodef-m-subtitle {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    text-transform: var(--e-global-typography-accent-text-transform);
    line-height: var(--e-global-typography-accent-line-height);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
}

.elementor-734 .elementor-element.elementor-element-65e5868 .qodef-qi-banner .qodef-m-content {
    padding: 30px 30px 30px 30px;
}

.elementor-734 .elementor-element.elementor-element-65e5868 .qodef-m-content-inner {
    background-color: var(--e-global-color-9947692);
}

.elementor-734 .elementor-element.elementor-element-65e5868 .qodef-m-title {
    color: var(--e-global-color-e9c5ff0);
    margin-top: 6px;
}

.elementor-734 .elementor-element.elementor-element-65e5868 .qodef-m-subtitle {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    text-transform: var(--e-global-typography-accent-text-transform);
    line-height: var(--e-global-typography-accent-line-height);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
}

.elementor-734 .elementor-element.elementor-element-cd9dae0 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-734 .elementor-element.elementor-element-76a357b .qodef-qi-banner .qodef-m-content {
    padding: 30px 30px 30px 30px;
}

.elementor-734 .elementor-element.elementor-element-76a357b .qodef-m-content-inner {
    background-color: var(--e-global-color-9947692);
}

.elementor-734 .elementor-element.elementor-element-76a357b .qodef-m-title {
    color: var(--e-global-color-e9c5ff0);
    margin-top: 6px;
}

.elementor-734 .elementor-element.elementor-element-76a357b .qodef-m-subtitle {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    text-transform: var(--e-global-typography-accent-text-transform);
    line-height: var(--e-global-typography-accent-line-height);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
}

.elementor-734 .elementor-element.elementor-element-fc15968 .qodef-qi-banner .qodef-m-content {
    padding: 30px 30px 30px 30px;
}

.elementor-734 .elementor-element.elementor-element-fc15968 .qodef-m-content-inner {
    background-color: var(--e-global-color-9947692);
}

.elementor-734 .elementor-element.elementor-element-fc15968 .qodef-m-title {
    color: var(--e-global-color-e9c5ff0);
    margin-top: 6px;
}

.elementor-734 .elementor-element.elementor-element-fc15968 .qodef-m-subtitle {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    text-transform: var(--e-global-typography-accent-text-transform);
    line-height: var(--e-global-typography-accent-line-height);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
}

.elementor-734 .elementor-element.elementor-element-d589cf3 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 120px;
    --background-transition: 0.3s;
    --padding-top: 60px;
    --padding-bottom: 60px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-734 .elementor-element.elementor-element-d589cf3:not(.elementor-motion-effects-element-type-background),
.elementor-734 .elementor-element.elementor-element-d589cf3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-text);
}

.elementor-734 .elementor-element.elementor-element-d589cf3,
.elementor-734 .elementor-element.elementor-element-d589cf3::before {
    --border-transition: 0.3s;
}

.elementor-734 .elementor-element.elementor-element-7fc40d3 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
}

.elementor-734 .elementor-element.elementor-element-ab7caa0 .elementor-counter {
    flex-direction: row-reverse;
}

.elementor-734 .elementor-element.elementor-element-ab7caa0 .elementor-counter-title {
    justify-content: start;
    align-items: center;
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
    letter-spacing: var(--e-global-typography-text-letter-spacing);
}

.elementor-734 .elementor-element.elementor-element-ab7caa0 .elementor-counter-number-wrapper {
    text-align: {
            {
            VALUE
        }
    }

    ;
    --counter-prefix-grow:1;
    --counter-suffix-grow:1;
    --counter-number-grow:0;
    font-family:var(--e-global-typography-8352cd5-font-family),
    Sans-serif;
    font-size:var(--e-global-typography-8352cd5-font-size);
    font-weight:var(--e-global-typography-8352cd5-font-weight);
    line-height:var(--e-global-typography-8352cd5-line-height);
    letter-spacing:var(--e-global-typography-8352cd5-letter-spacing);
    word-spacing:var(--e-global-typography-8352cd5-word-spacing);
}

.elementor-734 .elementor-element.elementor-element-8f59aab {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
}

.elementor-734 .elementor-element.elementor-element-32101c2 .elementor-counter {
    flex-direction: row-reverse;
}

.elementor-734 .elementor-element.elementor-element-32101c2 .elementor-counter-title {
    justify-content: start;
    align-items: center;
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
    letter-spacing: var(--e-global-typography-text-letter-spacing);
}

.elementor-734 .elementor-element.elementor-element-32101c2 .elementor-counter-number-wrapper {
    text-align: {
            {
            VALUE
        }
    }

    ;
    --counter-prefix-grow:1;
    --counter-suffix-grow:1;
    --counter-number-grow:0;
    font-family:var(--e-global-typography-8352cd5-font-family),
    Sans-serif;
    font-size:var(--e-global-typography-8352cd5-font-size);
    font-weight:var(--e-global-typography-8352cd5-font-weight);
    line-height:var(--e-global-typography-8352cd5-line-height);
    letter-spacing:var(--e-global-typography-8352cd5-letter-spacing);
    word-spacing:var(--e-global-typography-8352cd5-word-spacing);
}

.elementor-734 .elementor-element.elementor-element-b2198e1 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
}

.elementor-734 .elementor-element.elementor-element-7af00df .elementor-counter {
    flex-direction: row-reverse;
}

.elementor-734 .elementor-element.elementor-element-7af00df .elementor-counter-title {
    justify-content: start;
    align-items: center;
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
    letter-spacing: var(--e-global-typography-text-letter-spacing);
}

.elementor-734 .elementor-element.elementor-element-7af00df .elementor-counter-number-wrapper {
    text-align: {
            {
            VALUE
        }
    }

    ;
    --counter-prefix-grow:1;
    --counter-suffix-grow:1;
    --counter-number-grow:0;
    font-family:var(--e-global-typography-8352cd5-font-family),
    Sans-serif;
    font-size:var(--e-global-typography-8352cd5-font-size);
    font-weight:var(--e-global-typography-8352cd5-font-weight);
    line-height:var(--e-global-typography-8352cd5-line-height);
    letter-spacing:var(--e-global-typography-8352cd5-letter-spacing);
    word-spacing:var(--e-global-typography-8352cd5-word-spacing);
}

@media(min-width:768px) {
    .elementor-734 .elementor-element.elementor-element-7fc40d3 {
        --width: 33.3%;
    }

    .elementor-734 .elementor-element.elementor-element-8f59aab {
        --width: 33.3%;
    }

    .elementor-734 .elementor-element.elementor-element-b2198e1 {
        --width: 33.3%;
    }
}

@media(max-width:1024px) {
    .elementor-734 .elementor-element.elementor-element-4e60bc6 {
        --gap: 10px 10px;
        --padding-top: 20px;
        --padding-bottom: 20px;
        --padding-left: 20px;
        --padding-right: 20px;
    }

    .elementor-734 .elementor-element.elementor-element-995b91f {
        font-size: var(--e-global-typography-secondary-font-size);
        line-height: var(--e-global-typography-secondary-line-height);
        letter-spacing: var(--e-global-typography-secondary-letter-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-17e8ab1 {
        --padding-top: 60px;
        --padding-bottom: 60px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-734 .elementor-element.elementor-element-9e9626a {
        --gap: 0px 0px;
    }

    .elementor-734 .elementor-element.elementor-element-416c03f {
        --gap: 10px 10px;
    }

    .elementor-734 .elementor-element.elementor-element-4660033 .qodef-qi-banner .qodef-m-content {
        padding: 20px 20px 20px 20px;
    }

    .elementor-734 .elementor-element.elementor-element-4660033 .qodef-m-subtitle {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-5d6d36b .qodef-qi-banner .qodef-m-content {
        padding: 20px 20px 20px 20px;
    }

    .elementor-734 .elementor-element.elementor-element-5d6d36b .qodef-m-subtitle {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-8d70672 {
        --gap: 10px 10px;
    }

    .elementor-734 .elementor-element.elementor-element-ab0332f .qodef-qi-banner .qodef-m-content {
        padding: 20px 20px 20px 20px;
    }

    .elementor-734 .elementor-element.elementor-element-ab0332f .qodef-m-subtitle {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-65e5868 .qodef-qi-banner .qodef-m-content {
        padding: 20px 20px 20px 20px;
    }

    .elementor-734 .elementor-element.elementor-element-65e5868 .qodef-m-subtitle {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-cd9dae0 {
        --gap: 10px 10px;
    }

    .elementor-734 .elementor-element.elementor-element-76a357b .qodef-qi-banner .qodef-m-content {
        padding: 20px 20px 20px 20px;
    }

    .elementor-734 .elementor-element.elementor-element-76a357b .qodef-m-subtitle {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-fc15968 .qodef-qi-banner .qodef-m-content {
        padding: 20px 20px 20px 20px;
    }

    .elementor-734 .elementor-element.elementor-element-fc15968 .qodef-m-subtitle {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-d589cf3 {
        --gap: 40px 40px;
        --padding-top: 30px;
        --padding-bottom: 30px;
        --padding-left: 10px;
        --padding-right: 10px;
    }

    .elementor-734 .elementor-element.elementor-element-ab7caa0 .elementor-counter-number-wrapper {
        font-size: var(--e-global-typography-8352cd5-font-size);
        line-height: var(--e-global-typography-8352cd5-line-height);
        letter-spacing: var(--e-global-typography-8352cd5-letter-spacing);
        word-spacing: var(--e-global-typography-8352cd5-word-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-ab7caa0 .elementor-counter-title {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
        letter-spacing: var(--e-global-typography-text-letter-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-32101c2 .elementor-counter-number-wrapper {
        font-size: var(--e-global-typography-8352cd5-font-size);
        line-height: var(--e-global-typography-8352cd5-line-height);
        letter-spacing: var(--e-global-typography-8352cd5-letter-spacing);
        word-spacing: var(--e-global-typography-8352cd5-word-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-32101c2 .elementor-counter-title {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
        letter-spacing: var(--e-global-typography-text-letter-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-7af00df .elementor-counter-number-wrapper {
        font-size: var(--e-global-typography-8352cd5-font-size);
        line-height: var(--e-global-typography-8352cd5-line-height);
        letter-spacing: var(--e-global-typography-8352cd5-letter-spacing);
        word-spacing: var(--e-global-typography-8352cd5-word-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-7af00df .elementor-counter-title {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
        letter-spacing: var(--e-global-typography-text-letter-spacing);
    }
}

@media(max-width:767px) {
    .elementor-734 .elementor-element.elementor-element-728bd23 {
        text-align: center;
    }

    .elementor-734 .elementor-element.elementor-element-995b91f {
        text-align: center;
        font-size: var(--e-global-typography-secondary-font-size);
        line-height: var(--e-global-typography-secondary-line-height);
        letter-spacing: var(--e-global-typography-secondary-letter-spacing);
        width: 100%;
        max-width: 100%;
    }

    .elementor-734 .elementor-element.elementor-element-995b91f>.elementor-widget-container {
        padding: 0% 0% 0% 0%;
    }

    .elementor-734 .elementor-element.elementor-element-416c03f {
        --gap: 20px 20px;
    }

    .elementor-734 .elementor-element.elementor-element-4660033 .qodef-qi-banner .qodef-m-content {
        padding: 30px 30px 30px 30px;
    }

    .elementor-734 .elementor-element.elementor-element-4660033 .qodef-m-subtitle {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-5d6d36b .qodef-qi-banner .qodef-m-content {
        padding: 30px 30px 30px 30px;
    }

    .elementor-734 .elementor-element.elementor-element-5d6d36b .qodef-m-subtitle {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-8d70672 {
        --gap: 20px 20px;
    }

    .elementor-734 .elementor-element.elementor-element-ab0332f .qodef-qi-banner .qodef-m-content {
        padding: 30px 30px 30px 30px;
    }

    .elementor-734 .elementor-element.elementor-element-ab0332f .qodef-m-subtitle {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-65e5868 .qodef-qi-banner .qodef-m-content {
        padding: 30px 30px 30px 30px;
    }

    .elementor-734 .elementor-element.elementor-element-65e5868 .qodef-m-subtitle {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-cd9dae0 {
        --gap: 20px 20px;
    }

    .elementor-734 .elementor-element.elementor-element-76a357b .qodef-qi-banner .qodef-m-content {
        padding: 30px 30px 30px 30px;
    }

    .elementor-734 .elementor-element.elementor-element-76a357b .qodef-m-subtitle {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-fc15968 .qodef-qi-banner .qodef-m-content {
        padding: 30px 30px 30px 30px;
    }

    .elementor-734 .elementor-element.elementor-element-fc15968 .qodef-m-subtitle {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-d589cf3 {
        --gap: 0px 0px;
    }

    .elementor-734 .elementor-element.elementor-element-ab7caa0 .elementor-counter-title {
        justify-content: start;
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
        letter-spacing: var(--e-global-typography-text-letter-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-ab7caa0 .elementor-counter-number-wrapper {
        font-size: var(--e-global-typography-8352cd5-font-size);
        line-height: var(--e-global-typography-8352cd5-line-height);
        letter-spacing: var(--e-global-typography-8352cd5-letter-spacing);
        word-spacing: var(--e-global-typography-8352cd5-word-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-32101c2 .elementor-counter-number-wrapper {
        font-size: var(--e-global-typography-8352cd5-font-size);
        line-height: var(--e-global-typography-8352cd5-line-height);
        letter-spacing: var(--e-global-typography-8352cd5-letter-spacing);
        word-spacing: var(--e-global-typography-8352cd5-word-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-32101c2 .elementor-counter-title {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
        letter-spacing: var(--e-global-typography-text-letter-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-7af00df .elementor-counter-number-wrapper {
        font-size: var(--e-global-typography-8352cd5-font-size);
        line-height: var(--e-global-typography-8352cd5-line-height);
        letter-spacing: var(--e-global-typography-8352cd5-letter-spacing);
        word-spacing: var(--e-global-typography-8352cd5-word-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-7af00df .elementor-counter-title {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
        letter-spacing: var(--e-global-typography-text-letter-spacing);
    }
}

@media(min-width:1600px) {
    .elementor-734 .elementor-element.elementor-element-995b91f {
        font-size: var(--e-global-typography-secondary-font-size);
        line-height: var(--e-global-typography-secondary-line-height);
        letter-spacing: var(--e-global-typography-secondary-letter-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-4660033 .qodef-m-subtitle {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-5d6d36b .qodef-m-subtitle {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-ab0332f .qodef-m-subtitle {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-65e5868 .qodef-m-subtitle {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-76a357b .qodef-m-subtitle {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-fc15968 .qodef-m-subtitle {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-ab7caa0 .elementor-counter-number-wrapper {
        font-size: var(--e-global-typography-8352cd5-font-size);
        line-height: var(--e-global-typography-8352cd5-line-height);
        letter-spacing: var(--e-global-typography-8352cd5-letter-spacing);
        word-spacing: var(--e-global-typography-8352cd5-word-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-ab7caa0 .elementor-counter-title {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
        letter-spacing: var(--e-global-typography-text-letter-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-32101c2 .elementor-counter-number-wrapper {
        font-size: var(--e-global-typography-8352cd5-font-size);
        line-height: var(--e-global-typography-8352cd5-line-height);
        letter-spacing: var(--e-global-typography-8352cd5-letter-spacing);
        word-spacing: var(--e-global-typography-8352cd5-word-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-32101c2 .elementor-counter-title {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
        letter-spacing: var(--e-global-typography-text-letter-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-7af00df .elementor-counter-number-wrapper {
        font-size: var(--e-global-typography-8352cd5-font-size);
        line-height: var(--e-global-typography-8352cd5-line-height);
        letter-spacing: var(--e-global-typography-8352cd5-letter-spacing);
        word-spacing: var(--e-global-typography-8352cd5-word-spacing);
    }

    .elementor-734 .elementor-element.elementor-element-7af00df .elementor-counter-title {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
        letter-spacing: var(--e-global-typography-text-letter-spacing);
    }
}